* {
  border: 1px solid rgba(6, 235, 243, 0);
}

body {
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
}

.password-box {
  background-color: rgb(61, 60, 65);
  width: 30vw;
  height: 60vh;
  margin: 10px;
}
